
/*信息页样式*/
.notice-click{
	display: none;
}
.need-click{
	display: none;
}
.information-nav{
	width: 255px;
	overflow: hidden;
	border: 1px solid #ea5404;
	border-radius: 3px;
	margin: 10px auto;
}
.information-nav li{
	width:85px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	color: #ea5404;
}

.information-contain{
	margin: 10px 10px 0 10px;
	border: 1px solid #d6d7dc ;
	background: #ffffff;
}
.information-contain-li1{
	height: 38px;
	line-height: 17px;
	box-sizing: border-box;
	border-bottom:1px solid #d6d7dc ;
	padding: 10px;
}
.information-contain-li1 .title{
	float: left;
	font-size: 14px;
}
.information-contain-li2{
	font-size: 12px;
	padding: 10px;
	color: #979797;

}
.information-contain-li2 p{
	text-indent: 2em;
	font-size: 0.9rem;
	line-height: 18px;
}
.inf-float{
	font-size: 12px;
	float: right;
	color: #979797;
}
.inf-float2{
	text-align: right;
	float: none;

}
.click-all{
	 width:100%;
	 position: absolute;
	 top:0;bottom: 0;
 }
.tenant-basic{
	width:44px ;
	padding: 1px 0;
	box-sizing: border-box;
	text-align: center;
	background-color: #15b755;
	color: #ffffff;
	border-radius: 3px;
}
.btn-know{
	width: 80px;
	height:25px ;
	background-color: #efeff4;
	line-height: 25px;
	text-align: center;
	color: #646464;
	text-indent:0;
	font-size: 12px;
}
.information-contain .btn-center{
	text-align: center;
	padding-top:10px;
	position: relative;
}
.inf-float3{
	line-height: 25px;
	position: absolute;
	font-size: 0.9rem;
	top:10px;
	right:0;
}
	/*点击样式*/
.information-nav .active{
	background:#ea5404;
	color: #ffffff;;
}
.body-hide{
	overflow: hidden;
}
/*------------------------------------*/
/*预约页*/
.order-top1{
	text-align: center;
}
.order-top .title{
	font-size: 18px;
	font-weight: bold;
}
.order-time{
	float: right;
	padding-left: 14px;
	background: url("../img/booking/content_icon@2x.png") no-repeat 0 5px;
	background-size: 10px;
}
.order-text1{
	color: #646464;
}
.order-text2{
	text-indent: 2em;
	color: #646464;
	font-size:14px ;
}
.order-adress{
	font-size:15px ;
	font-weight: 600;
}
.order-text3,.conttop-text2{
	 color:#ea5404;
}
.order-text4 ,.conttop-text2{
	float: right;
}
.btn-order{
	float: right;
	width: 55px;
	height: 24px;
	text-align: center;
	background-color: #ea5404;
	color: #ffffff;
	font-size: 12px;
	line-height: 24px;
	border-radius: 5px;
}
/*订单取消页面*/
.cancel_top ,.contract-top{
	height:50px ;
	padding: 0 12px;
	text-align: center;
	line-height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d7dc;
}
.finish-footer{
	display: flex;
	border-top: 1px solid #d6d7dc;
	border-bottom:none;
}
.finish-footer li{
	flex:1;
	color: #ea5404;
}
.cancel_top .title,.contract-top .title{
	font-size: 18px;
	font-weight: bold;
}
.cancel-cotainer .title{
	height: 32px;
	line-height: 32px;
	padding-left: 12px;
	color: #b4b4b4;
	font-size: 12px;
}
.cancelinf-li{
	float: left;
	min-width: 50%;
}
.cancel-ul1{
	background-color: #ffffff;
	padding: 10px 12px 12px 12px;
}
.cancelpeople-flex1{
	flex:1;
}
.cancelpeople-li1{
	background: url("../img/booking-detail/content_img_user@2x.png") no-repeat center;
	background-size: 40px;
}
.cancel-telephone{
	background: url("../img/booking-detail/content_icon_call@2x.png") no-repeat center;
	background-size: 20px;
}

.cancelpeople-flex5{
	flex:5;
	border-right:1px solid #e1e1e1 ;
}
.font-category1{
	font-size: 16px;
	font-weight: 500;
}
.font-category2{
	font-size: 13px;
	color: #646464;
}
.font-spanleft{
	float: left;
	padding: 5px 0;
}
.font-spanright{
	float: right;
	padding: 5px 0;
}
.chkstyle{
	position: relative ;
	top:4px;
	width: 19px;
	height: 19px;
	border: 1px solid #e1e1e1;
	margin-right:13px;
}
.choose{
	display: none;

}
.textarea{
	padding: 2px 0;
	width:100%;
	background: #efeff4;
}
.cancel-btn{
	/*margin-top: 45px;*/
	margin-bottom: 6px;
	height: 44px;
	padding: 0 12px;
	/*vertical-align: bottom;*/
}

.popup-opacity{
	display: none;
	background: rgba(212, 212, 212, 0.5);
}
.conttop-text{
	display: inline-block;
	height:50px ;
	/*width: 50px;*/
	background-size:18px;
}
.conttop-text1{
	float: left;
}

.add-li1{
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	text-align: center;
	color: #aeaeaf;
}
.add-li2,.add-li3{
	text-align: center;
	margin: 0 auto 22px auto;
	width: 220px;
	height: 143px;
	border-radius: 5px;
	background: #878787;
	color: #ffffff;
}
.add-li-icon{
	height: 90px;
	font-size: 90px;
	line-height: 90px;
}
.add-li-text{
	height: 20px;
}
.btn-changeorder{
	float: right;
	font-size: 14px;
}
/*---------------------------------------*/
/*发布页*/
.introduced-page{
	background: #1d1817;
}
.introduced-footer{
	position: absolute;
	height: 50px;
	bottom: 0;
	left:0;
	right: 0;
	background: rgba(255, 255, 255, 0.1);
	text-align: center;
}
.cancel-intro{
	display: inline-block;
	width: 20px;
	height:50px;
	background: url("../img/release/publish_close_icon@2x.png") no-repeat center;
	background-size: 14px;
}
.release-all{
	position: absolute;
	left: 0;
	right:0;
	bottom: 50px;
	height: 130px;
	margin-bottom: 50px;
}
.ralease{
	display: inline-block;
	width: 48%;
	height: 100%;
	color: #ffffff;
	text-align: center;
	line-height: 230px;

}
.release1{
	background: url("../img/release/publish_btn02@2x.png") no-repeat center 0;
	background-size: 94px;
}
.release2{
	background: url("../img/release/publish_btn01@2x.png") no-repeat center 0;
	background-size: 94px;
}
.introduced-need-all{
	background: #efeff4;
}
.need-all-label{
	margin:10px auto 0 auto;
	width: 88%;
	display: block;
	height:50px;
	font-size: 18px;
	box-sizing: border-box;
}
.btn-white{
	background-color:#ffffff;
	color:  #ea5404;
	font-weight: bold;
	border:none;
}
.need-all-label input{
	padding: 0 12px;
	width: 100%;
	height: 100%;
	background: #ffffff;
	border: 1px solid #d6d7dc;
	border-radius: 5px;
	box-sizing: border-box;
}
.need-all-label textarea{
	border-radius: 5px;
	padding: 12px 12px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #d6d7dc;
}
/*已用*/
.house-top{
	height:50px ;
	padding: 0 12px;
	text-align: center;
	line-height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d7dc;
	position: fixed;
	left:0;
	right: 0;
}
.introtitle{
	font-weight: 600;
}
.house-box{
	padding:14px 12px;
}
.house-search-box{
	flex:3;
	background-color: #ffffff;
	border-radius: 5px;
	color:#b4b4b4;
	height: 33px;
	width: 100%;
	margin-right: 15px;

}
.search-box-text{
	height:100%;
	width: 70%;
}
.newhouse{
	flex:1;
	width:25%;
	height:33px ;
	line-height:33px;
	box-sizing: border-box;
	padding-left:25px;
	font-size:14px;
	background: url("../img/release-house/content_plus_icon@2x.png") no-repeat 4px center;
	background-size: 12px;
}
/*已用*/

.building-information,.sources-information{
	background-color: #ffffff;
	padding:12px 12px;
	margin-bottom: 12px;
}
.building-icon{
	line-height: 2rem;
	padding-left: 12px;
	background: url("../img/release-house/content_press_icon@2x.png") no-repeat 0 center;
	background-size: 6px;
	color: #3a3a3a;
}
.sources-li{
	margin-bottom: 10px;
}
.housetitle-attr  {
	line-height: 2rem;
	padding-left: 30px;
	font-size: 0.9rem;
}
.houseall-attr  {
	padding:0 0 10px 49px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
}
.house-attr{
	display: inline-block;
	padding-left: 18px;
	height:17px;
	text-align: center;
	line-height:17px;
	font-size: 0.8rem;
	background: url("../img/release-house/content_nor_icon@2x.png") no-repeat 6px center;
	background-size: 6px;
}

.label-building,.label-sources1{
	text-align: right;
	color: #646464;
	font-size: 16px;
	width:30%;
	height: 30px;
	line-height: 30px;
	float: left;
	box-sizing: border-box;

}
.label-building2{
	width:26%;
	font-size: 0.9rem;
}
.txt-building{
	flex:9;
	border-bottom: 1px solid #e1e1e1;
}
.txt-sources{
	float: left;
	width: 40%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	border-radius: 2px;
	background: #efeff4;
	padding-left: 5px;
}
.select-txt{
	background: #efeff4;
}
.txt-time{
	width:30%;
	margin-right: 5%;
}
.label-sources3{
	float: left;
	width: 30%;
	box-sizing: border-box;
	padding-left: 6px;
	font-size: 0.8rem;
	height: 30px;
	line-height: 30px;
}
.only-vertical{
	vertical-align: bottom;
}
.txt-sources9{
	width:70%;;
}
.txta-sources{
	width:70%;
	float: left;
	box-sizing: border-box;
	border-radius: 2px;
	background: #efeff4;
	padding: 5px;
}
.label-sourcebg{
	padding-left: 16px;
	float: left;
	width: 30%;
	height: 30px;
	line-height: 30px;
	font-size: 0.8rem;
	box-sizing: border-box;
	background: url("../img/release-house/content_nor_icon@2x.png") no-repeat 6px center;
	background-size: 6px;
}
.house-attr-active{
	background: url("../img/release-house/content_press_icon@2x.png") no-repeat 6px center;
	background-size: 6px;
}

.add-pic{
	text-align: center;
	width:76px;
	height: 76px;
	background: #d4d4d9;
	color: #ffffff;
	margin-left: 5%;
}
.add-pic-icon{
	color:  #959695;
	margin-top: 7px;
	height: 50px;
	font-size: 40px;
	line-height: 50px;
}
.add-pic-text{
	color: #959695;
	font-size: 12px;
	height: 26px;
}
.house-btn{
	margin-top:10px;
	height: 44px;
	padding: 12px;
	background: #ffffff;
}
.house-search{
	padding: 10px 10px 10px 0;
	position: fixed;
	top:0; left:0;right: 0;bottom: 0;
	background: #ffffff;
	overflow: hidden;
}
.introduced-search{
	background-color: #f1f1f1;
	border-radius: 5px;
	color:#b4b4b4;
	height: 33px;
	float: left;
	margin: 0 10px;
	width: 80%;
}
.house-text-search{
	display: inline-block;
	height: 33px;
	line-height: 33px;
	background: #f1f1f1;
}
.house-search-text{
	color: #ea5404;
	float: right;
	height: 33px;
	line-height: 33px;
}
.buliding-statusall{
	position: relative;
}
.buliding-status{
	display: none;
	position: absolute;
	top: 26px;
	right: 0;
	left: 30%;
	background: #efeff4;
}
.status-li{
	margin: 0 5px;
	height:30px;
	line-height: 30px;
	font-size: 13px;
	border-bottom: 1px solid #ccccd1;
}
.status-li:hover{
	background: #ffffff;
}
.select-icon{
	float: right;
	width: 25px;
	height: 30px;
	background:url("../img/release-house/content_list_icon01@2x.png") no-repeat center;
	background-size: 14px;
}





/*-------------------------*/
/*上传合同*/
.ipt-file{
	display: none;
}