*{
	padding:0;margin: 0;
}
ul{list-style: none}/**/
input,button,select,textarea{outline:none;padding:0;margin:0;border:none;}
textarea{resize:none}

/*主页面*//*留底footer*/
.pageZindex{
	z-index: 10;
}
.page-box{
	position: absolute;
	top:0; left:0;right: 0;bottom: 62px;
	background: #efeff4;
	overflow-y: auto;
}

/*注册登录页*//*不留底footer*/
.login-index,.page-box-child{
	position: fixed;
	top:0; left:0;right: 0;bottom: 0;
	background: #efeff4;
	overflow-y: auto;
}
.display-flex{
	display: flex;
}

.clearfloat:after{
	content: "";
	display: block;
	height:0;
	visibility: hidden;
	clear: both;
}


/*全屏按钮点击确认样式*/
.popup{
	width:274px;
	text-align: center;
	border-radius: 8px;
	background: #ffffff;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-55px;/*大盒子高的一半*/
	margin-left:-137px;/*大盒子宽的一半*/
}
.popup-li1{
	height: 64px;
	line-height: 64px;
	border-bottom:1px solid #e1e1e1 ;
}
.popup-li2{
	height: 45px;
	line-height: 45px;
	color: #eb642b;
}
.popup-li2-list1{
	width: 50%;
	float: left;
	color: #000;
}
.popup-li2-list2{
	width: 50%;
	float: left;
}

/*中心部分定死*/
.all-order{
	margin-top: 60px;
	position: relative;
}



.booking-house{
	background: #000000;
}
.welcome-page{
	background: #f5eeea;
}