.install-icon{
	float: right;
	display: block;
	height:50px ;
	width: 50px;
	background: url("../images/my/nav_set_icon@2x.png") no-repeat center;
	background-size:18px;
}
.my-boxall{
	margin-top: 60px;
	position: relative;
}
.mylogin-right{
	float: right;
	display: block;
	height:24px ;
	width: 50px;
	background: url("../images/my/log in_right_icon@2x.png") no-repeat right center;
	background-size:12px;
}
.mylogin-right2{
	height:64px ;
}
.my-infor-li22{
	font-size: 14px;
	flex:1;
	text-align: center;
}
.text-change{
	font-size: 20px;
	margin-right: 4px;
	display: inline-block;
	height: 32px;line-height: 32px;
}
.click-islogin{
	position: relative;
	height:130px;
}
.yes-login{
	display: none;
	position: absolute;
	top:0;
	left:0;
	right:0;
}
.no-login{
	position: absolute;
	top:0;
	left:0;
	right:0;
}
.my-box-information{
	padding: 12px 12px;
	margin-bottom: 6px;
	background-color: #ffffff;
}
.myhead-img{
	width: 64px;
	float: left;
	margin-right: 4px;
}
.mybox-inf2{
	height: 64px;
	line-height: 64px;
}
.my-box-ul>li:nth-child(2){
	background: url("../images/my/content_list_icon01@2x.png") no-repeat 12px;
	background-size:18px;
	background-color: #ffffff;
}
.my-box-ul>li:nth-child(3){
	background: url("../images/my/content_list_icon02@2x.png") no-repeat 12px;
	background-size:18px;
	background-color: #ffffff;
}
.my-box-ul>li:nth-child(4){
	background: url("../images/my/content_list_icon05@2x.png") no-repeat 12px;
	background-size:18px;
	background-color: #ffffff;
}
.my-box-ul>li:nth-child(5){
	background: url("../images/my/content_list_icon03@2x.png") no-repeat 12px;
	background-size:18px;
	background-color: #ffffff;
}
.my-box-ul>li:nth-child(6){
	background: url("../images/my/content_list_icon04@2x.png") no-repeat 12px;
	background-size:18px;
	background-color: #ffffff;
}
.contain-my-box{
	font-size: 12px;
	line-height: 24px;
	 padding: 12px 12px 12px 34px;
	 margin-bottom:6px ;
 }


/*------------------------*/
/*登录注册的*/
/*login-page 主登录页*/
.login_top{
	height:50px ;
	padding: 0 12px;
	/*background: url("../images/登录/nav_back_icon@2x.png") no-repeat 12px;*/
	/*background-size:12px;*/
	text-align: center;
	line-height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d7dc;
	margin-bottom: 23px;
}
.login_top .title{
	font-size: 18px;
	color: #ea5404;
	font-weight: bold;
}
.return-login{
	float: right;
	font-size: 13px;
}

.login_contain{
	background-color: #ffffff;
	border-top: 1px solid #d6d7dc;
	border-bottom: 1px solid #d6d7dc;
	padding:0 12px;
	line-height: 50px;
}

.label-li1 {
	height:50px;
	font-size: 0.9rem;
	border-bottom: 1px solid #d6d7dc;
}
.basic-label{
	display:inline-block;
	width:27%;
	height: 50px;
	padding-left: 16px;
	box-sizing: border-box;
	text-align: right;
}
.basic-inputbox{
	width: 70%;
	float: right
}
.basic-input{
	width: 100%;
}
.input-code{
	width: 70%;
}
.input-select{
	position: relative;
}

.id_bg{
	background: url("../images/login/content_ID_icon@2x.png") no-repeat 0 center ;
	background-size: 16px;
}

.password_bg{
	background: url("../images/login/content_password_icon@2x.png") no-repeat 0 center ;
	background-size: 15px;
}
.identy_bg{
	width: 27%;
	background: url("../images/login/content_verify_icon@2x.png") no-repeat 0 center ;
	background-size: 12px;
}
.identity_bg{
	background: url("../images/login/content_position_icon@2x.png") no-repeat 0 center ;
	background-size: 18px;
}
.label-last{
	border-bottom: none;
}
/*注册页*/
.ident-select{
	position: absolute;
	width: 65px;
	height: 50px;
	top:0;
	right: 0;
	bottom:0;
}
.ident-select-bg{
	display: block;
	width: 65px;
	height: 25px;
	background:url("../images/index/content_icon022_nor@2x.png") no-repeat bottom center;
	background-size: 10px;
	vertical-align: bottom;
}
.ident-ul{
	display: none;
	border-radius: 5px;
	background: #a3a3a3;
	margin-top: 4px;
}
.ident-li{
	width: 65px;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;

	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}

.login_contain label input{
	height: 80%;
	box-sizing:border-box;
}

.login-btn{
	margin-top: 45px;
	height: 44px;
	padding: 0 12px;
}
.login_btn2{
	margin-top: 15px;

}

.btn-basic{
	 border: 1px solid #c7c7c7;
	 width: 100%;
	 height:100% ;
	 background-color: #c7c7c7;
	 line-height: 25px;
	 text-align: center;
	 color: #646464;
	 text-indent:0;
	 border-radius: 5px;
	 font-size: 20px;
 }
.get-code{
	float: right;
	width: 30%;
	height: 30px;
	background-color: #ea5404;
	border: 1px solid #ea5404;
	color: #ffffff;
	margin-top: 10px;
	font-size: 12px;
	line-height: 30px;
	border-radius: 5px;
}
.enroll{
	color: #ea5404;
	float: left;
}
.forgert-pass{
	float: right;
}

/*代理商身份完善*/
.agent-top{
	margin-bottom: 0;
}
.agent-cotainer .title{
	height: 32px;
	line-height: 32px;
	padding-left: 12px;
	color: #b4b4b4;
	font-size: 12px;
}
.agent-ul1{
	background-color: #ffffff;
	text-align: center;
	padding: 10px 12px 0 12px;
}
.add-head-li{
	padding: 10px 0;
	border-bottom: 1px solid #e1e1e1;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.add-head{
	display: inline-block;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #878787;
	color: #ffffff;
	font-size: 12px;
	line-height: 65px;
}
.agent-ul1-li1{
	padding-bottom: 5px;
}
.optional-li{
	display: flex;
	padding: 10px 0;
}
.optional-span{
	padding-right: 25px;
}
.optional-span-last{
	padding-right: 0;
}
.optional-add{
	flex:1;
	height: 65px;
	border-radius: 5px;
	background: #878787;
	color: #ffffff;
	font-size: 12px;
	line-height: 65px;
	margin-right: 25px;
}
.optional-personal{
	margin: 10px 0;
}
.text-personal{
	color: #979797;
	font-size: 0.8rem;
}

.optional-last{
	margin-right: 0;
}
.ipt-basic{
	border-radius: 5px;
	width: 230px;
	height:30px;
	background: #efeff4;
	color: #b4b4b4;
	padding-left: 12px;
}

.square-add{
	width:100px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 5px;
	background: #878787;
	color: #ffffff;
	font-size: 12px;
	margin: 0 auto;
	display: block;
}
/*注册完成*/
.registafter-page{
	background:#b2b2b2 ;
}

.contain-overdue{
	float: right;
	height: 17px;
	font-size: 13px;
	color:#979797;
}
.personal-data-box{
	background: #FFFFFF;
}
.personal-data-li{
	border-bottom:1px solid #e1e1e1;
	padding: 0 10px;
	font-size: 0.75rem;
}
.person-span{
	float: left;
	height:30px;
	line-height:30px;
	box-sizing: border-box;
}
.head-bg{

}
.person-span1{
	width: 35%;
	color: #979797;
}
.person-span2{
	width: 55%;
}
.person-span3{
	width: 10%;
	background: url("../images/my/log in_right_icon@2x.png") no-repeat center;
	background-size: 8px;
}
.set-up-box{
	padding: 12px;
	background-size:18px;
	background-color: #ffffff;
}
.setup-li{
	text-align: center;
}
.mylogin-about{
	float: right;
	display: block;
	height:24px ;
	width: 6rem;
	background: url("../images/my/log in_right_icon@2x.png") no-repeat right center;
	background-size:12px;
	color: #979797;
}
.about-img{
	width:8rem;
}
.name-img{
	width:8rem;
}
.about-img-box{
	padding:3rem 0;
	text-align: center;
}
.copy-font{
	font-size: 0.5rem;
}
